.App {
  height: 100%;
  text-align: center;
  background-color: #fafafa;
  padding: 20px 32px 32px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin-bottom: 32px;
}

.App-header h1 {
  margin-bottom: 0;
}

.App-title {
  color: #222;

  font-weight: bold;

  background: linear-gradient(
    45deg,
    rgba(0, 209, 255, 1) 0%,
    rgba(199, 0, 179, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-intro {
  font-size: large;
}

.App-main {
  height: 100%;
}

.separator {
  margin: 40px 0;
  margin: 20px 0 60px;
}

.separator .ant-btn {
  width: 100%;
  border-radius: 0;
  font-size: 32px;
  line-height: 40px;
  height: 90px;
}
