.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #364d79;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: rgb(0, 209, 255);
  background: linear-gradient(
    45deg,
    rgba(0, 209, 255, 1) 0%,
    rgba(199, 0, 179, 1) 100%
  );

  padding: 14px;
}

.App-header h1 {
  margin-bottom: 0;
}

.App-title {
  color: white;
}

.App-intro {
  font-size: large;
}

.separator .ant-btn {
  width: 100%;
  border-radius: 0;
  font-size: 32px;
  line-height: 40px;
  height: 90px;
}
