.ant-carousel .slick-slide {
    text-align: center;

    padding: 24px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.ant-carousel .slick-dots {
    height: inherit;
}

.ant-carousel .slick-dots li {
    color: white;
    padding: 20px;
}
