.ant-carousel {
  background: #364d79;
}

.ant-carousel .slick-list {
  padding-top: 48px;
}

.ant-carousel .slick-slide {
  text-align: center;
  padding: 24px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
  font-size: 12vh;
  margin-bottom: 0;
}

.ant-carousel .slick-dots {
  height: inherit;
}

.ant-carousel .slick-dots-top {
  top: 0;
}

.ant-carousel .slick-dots li {
  color: white;
  padding: 20px;
  cursor: pointer;
}

.ant-carousel .slick-dots .slick-active {
  font-weight: bold;
  cursor: inherit;
}
